/* Criado por Luan Carvalho em 13.11.2022 às 02:15 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #101010;
  color: #fff;
}

.telaInicial {
  display: grid;
  grid-template-areas: 'titulo' 'msgRodape';
  grid-template-rows: 90% 10%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.telaInicial .titulo {
  grid-area: titulo;
  font-size: 18vmin;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -0.06em;
  text-shadow: 0 0 1px dimgray;
  text-align: center;
  line-height: 0.8em;
}

.telaInicial .titulo span{
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 1em;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
  font-weight: 400;
}

.telaInicial .msgRodape{
  grid-area: msgRodape;
  align-items: baseline;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}

.decoracao {
  font-family: Cambay, sans-serif;
  position: fixed;
  top: 50vh;
  left: 40vw;
  font-size: 180vmin;
  line-height: 0.2em;
  letter-spacing: 0px;
  transform: rotate(10deg);
  color: rgba(255, 255, 255, 0.2);
}