/* Criado por Luan Carvalho em 13.11.2022 às 02:15 */


/* Para o projeto geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #101010;
  color: #fff;
}

.identGeralLogo {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -0.06em;
}

input {
  background-color: #303030;
  border: 1px solid transparent;
  color: #fff;
  padding: 3px;
  outline: 0px none transparent;
  height: 2em;
  font-family: Montserrat, sans-serif;
}

input:active, input:focus {
  outline: 1px solid #aaa;
}

input.btDestaque {
  font-weight: bold;
}

/* TELA: Inicio */

.telaInicial {
  display: grid;
  grid-template-areas: 'titulo' 'msgRodape';
  grid-template-rows: 90% 10%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.telaInicial .titulo {
  grid-area: titulo;
  font-size: 18vmin;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -0.06em;
  text-shadow: 0 0 1px dimgray;
  text-align: center;
  line-height: 0.8em;
}

.telaInicial .titulo span {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 1em;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
  font-weight: 400;
}

.telaInicial .msgRodape {
  grid-area: msgRodape;
  align-items: baseline;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}

.decoracao {
  font-family: Cambay, sans-serif;
  position: fixed;
  top: 50vh;
  left: 40vw;
  font-size: 180vmin;
  line-height: 0.2em;
  letter-spacing: 0px;
  transform: rotate(10deg);
  color: rgba(255, 255, 255, 0.2);
  z-index: -999;
}

/* TELA: Apresentação e nome do usuário */

.apresentacao {
  display: none;
  grid-template-areas: 'topo topo' 'esq dir';
  grid-template-rows: min-content auto;
  grid-template-columns: 40% 60%;
}

.apresentacao .le {
  grid-area: esq;
}
.apresentacao .logo {
  grid-area: topo;
  font-size: 7.7vmin;
  padding: 5px;
  display: inline-block;
}
.apresentacao .le .txtApresentacao {
  display: inline-block;
  width: 100%;
  padding: 5px;
}
.apresentacao .le .txtApresentacao p {
  margin-bottom: 7px;
}

.apresentacao .ld {
  grid-area: dir;
  padding: 8px 3px;
}

.apresentacao .ld label {
  display: inline-block;
  width: 100%;
}

.apresentacao .ld input[type=text] {
  width: 100%;
  max-width: 400px;
  margin: 3px 0px;
}

.apresentacao .ld .listaJogadores {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  white-space: nowrap;
}

.apresentacao .ld .listaJogadores .jogN {
  display: inline-block;
  width: 50%;
  height: 1.5em;
  word-wrap: normal;
  overflow: hidden;
  margin: 0;
}
.apresentacao .ld .listaJogadores .jogR {
  display: inline-block;
  width: 25%;
  height: 1.5em;
  word-wrap: normal;
  overflow: hidden;
  margin: 0;
}
.apresentacao .ld .listaJogadores .jogA {
  display: inline-block;
  width: 25%;
  height: 1.5em;
  word-wrap: normal;
  overflow: hidden;
  margin: 0;
}